<h1>Listing autors</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Titulo blog</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @autors.each do |autor| %>
  <tr>
    <td><%= autor.nome %></td>
    <td><%= autor.titulo_blog %></td>
    <td><%= link_to 'Show', autor %></td>
    <td><%= link_to 'Edit', edit_autor_path(autor) %></td>
    <td><%= link_to 'Destroy', autor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Autor', new_autor_path %>
