<div style="padding: 30px">
  <h1>Listagem de autores</h1>
  <br/>
  <table class="table table-bordered">
    <tr>
      <th>Nome</th>
      <th>Titulo blog</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @autors.each do |autor| %>
    <tr>
      <td><%= autor.nome %></td>
      <td><%= autor.titulo_blog %></td>
      <td><%= link_to 'Visualizar', autor %></td>
      <td><%= link_to 'Editar', edit_autor_path(autor) %></td>
      <td><%= link_to 'Excluir', autor, confirm: 'Tem certeza?', method: :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'Novo autor', new_autor_path %>
</div>
