<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @autor.nome %>
</p>

<p>
  <b>Titulo blog:</b>
  <%= @autor.titulo_blog %>
</p>


<%= link_to 'Edit', edit_autor_path(@autor) %> |
<%= link_to 'Back', autors_path %>
