<%= form_for([@post, @comment]) do |f| %>
  <script type="text/javascript">
    jQuery(function($){
      url_face = 'http://graph.facebook.com/<%= f.object.commenter %>/picture';  

      $.ajax({
        url: url_face,
        success: function(data) {
          $("#imagem_face_").attr("src", url_face);
        }
      });
    });
  </script>
  <a href="#" class="avatar"><%= image_tag "/images/cao-sorridente.jpg", :id => "imagem_face_", :size => "70x70"%></a>
  <p>
  <div class="field">
    <%= f.label :commenter %><br />
    <%= f.text_field :commenter %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>