<%= form_for(@categorias) do |f| %>
  <% if @categorias.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categorias.errors.count, "error") %> prohibited this categorias from being saved:</h2>

      <ul>
      <% @categorias.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
