<%= form_for( @usuario, :html => {:class=> "comment-form"}) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :de_onde %><br />
    <%= f.text_field :de_onde %>
  </div>

  <div class="field">
    <%= f.label :convidados %><br />
    <%= f.text_field :convidados %>
  </div>

  <div class="field">
    <%= f.label :nome_convite %><br />
    <%= f.text_field :nome_convite %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>