<%= form_for( @usuario, :html => {:class=> "comment-form"}) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome_convite %><br />
    <%= f.text_field :nome_convite %>
  </div>

<b>Convidados</b><br>
  <%= f.check_box :disponivel_festa, :style=>"width: 20px" %> Diponivel presença na festa <br/>
  <%= f.check_box :disponivel_cerimonia, :style=>"width: 20px" %> Diponivel cerimonia <br/>

  <div class="field"> 
    <%= f.fields_for :convidados do |builder| %>
          <%= builder.text_field :nome %><br/>
          <%= builder.check_box :confimacao_presenca_cerimonia, :style=>"width: 20px" %> Confirmar presença na cerimonia  <br/>
          <%= builder.check_box :confimacao_presenca_festa, :style=>"width: 20px" %> Confirmar presença na festa <br/>
          <br/><br/>
    <% end %>   
  </div>   

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :numero_telefone %><br />
    <%= f.text_field :numero_telefone %>
  </div>

  <div class="field">
    <%= f.label :endereco %><br />
    <%= f.text_field :endereco %>
  </div>

  <div class="field">
    <%= f.label :de_onde %><br />
    <%= f.text_field :de_onde %>
  </div>

  

  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>