<div style="padding: 30px">
  <a href="/convidados/list">Listar todos convidados</a>
  <h1>Listando usuarios</h1>

  <div style="border: 1px solid black; padding: 10px">
    <%= form_for( @user, :method => :get, :url => url_for(:controller => 'usuarios', :action => 'index')) do |f| %>
      
      <%= f.check_box :disponivel_festa, :style => "text-align: right;" %> => R.S.V.P.<br/>
    <br/>
   
      <%= f.submit "Filtrar",  :class => "button orange", :style => "cursor: pointer" %>
    <% end %>
  </div>
  <br/>

  <table class="table table-bordered">
    <tr>
      <th>Nome <br><%= @users.count %> convites</th>
      <th>Email</th>
      <th style="text-align: center">Convidado <br/>para Festa</th>
      <th style="text-align: center">Convidado <br/>para Cerimonia</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.nome %></td>
      <td><%= user.email %></td>
      <td style="text-align: center"><%if user.disponivel_cerimonia %><img src="/images/button_ok.png"/><% else %><img src="/images/error.png"/><%end%></td>
      <td style="text-align: center"><%if user.disponivel_festa %><img src="/images/button_ok.png"/><% else %><img src="/images/error.png"/><%end%></td>
      <td><%= link_to 'Visualizar', usuario_path(user) %></td>
      <td><%= link_to 'Editar', edit_usuario_path(user) %></td>
      <td><%= link_to 'Excluir', usuario_path(user), :confirm => 'Tem certeza?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'Novo Usuario', new_usuario_path %>
</div>
