<div style="padding: 30px">
  <a href="/convidados/list">Listar todos convidados</a>
  <h1>Listando usuarios</h1>

  <div style="border: 1px solid black; padding: 10px">
    <%= form_for( @user, :method => :get, :url => url_for(:controller => 'usuarios', :action => 'index')) do |f| %>
      
      <%= f.check_box :disponivel_festa, :style => "text-align: right;" %> => R.S.V.P.<br/>
    <br/>
   
      <%= f.submit "Filtrar",  :class => "button orange", :style => "cursor: pointer" %>
    <% end %>
  </div>
  <br/>

  <table class="table table-bordered">
    <tr style="text-align: center">
      <td>Nome</td>
      <td>Telefone</td>
      <td style="text-align: center" colspan="3">Disponivel<br> (pessoas)</td>
      <td style="text-align: center" colspan="2">Confirmado<br> (pessoas)</td>
      <td style="text-align: center">R.S.V.P.<br> executado</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr style="text-align: center">
      <td></td>
      <td></td>
      <td style="text-align: center; width: 50px">Cerimonia</td>
      <td style="text-align: center; width: 50px">Festa</td>
      <td style="text-align: center; width: 50px">Pessoas</td>
      <td style="text-align: center; width: 50px">Cerimonia</td>
      <td style="text-align: center; width: 50px">Festa</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr style="text-align: center">
      <td><%= @users.count %> convites</td>
      <td></td>
      <td style="text-align: center;">
        <% 
          qtd_convidados = 0
          User.where("disponivel_cerimonia = ? ", true).each do |user| 
            qtd_convidados = qtd_convidados + user.convidados.count;
          end 
        %>
        <%= qtd_convidados %>
      </td>
     <td style="text-align: center;">
        <% 
          qtd_convidados = 0
          User.where("disponivel_festa = ? ", true).each do |user| 
            qtd_convidados = qtd_convidados + user.convidados.count;
          end 
          
        %>
        <%= qtd_convidados %>
      </td>
      <td style="text-align: center;"><%= Convidado.count %></td>
      <td style="text-align: center;"><%= Convidado.where("confimacao_presenca_cerimonia = ? ", true).count %></td>
      <td style="text-align: center;"><%= Convidado.where("confimacao_presenca_festa = ? ", true).count %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.nome_convite %></td>
      <td><%= user.numero_telefone %></td>
      <td style="text-align: center"><%if user.disponivel_cerimonia %><img src="/images/button_ok.png"/><% else %><img src="/images/error.png"/><%end%></td>
      <td style="text-align: center"><%if user.disponivel_festa %><img src="/images/button_ok.png"/><% else %><img src="/images/error.png"/><%end%></td>
      <td style="text-align: center;"><%= user.convidados.count %></td>
      <td style="text-align: center;"><%= user.convidados.where("confimacao_presenca_cerimonia = ? ", true).count %></td>
      <td style="text-align: center;"><%= user.convidados.where("confimacao_presenca_festa = ? ", true).count %></td>
      <td style="text-align: center"><%if user.rsvp_executado %><img src="/images/button_ok.png"/><% else %><img src="/images/error.png"/><%end%></td>
      <td><%= link_to 'Show', usuario_path(user) %></td>
      <td><%= link_to 'Edit', edit_usuario_path(user) %></td>
      <td><%= link_to 'Delete', usuario_path(user), :confirm => 'Tem certeza?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'Novo Usuario', new_user_registration_path %>
</div>
