<div style="padding-left: 30px; width: 900px;"/>
	<p id="notice"><%= notice %></p>
	<br>
	<p>
	  <%= image_tag "http://graph.facebook.com/#{@user.nome}/picture", :size => "70x70"%>
	  <b>Foto do facebook:</b>
	</p>
	<p>
	  <b>Link facebook:</b>
	  <a href="http://www.facebook.com/<% @user.nome %>" target="_blank">http://www.facebook.com/<% @user.nome %></a>
	</p>
	<p>
	  <b>Nome:</b>
	  <%= @user.nome %>
	</p>
	<p>
	  <b>Email:</b>
	  <%= @user.email %>
	</p>
	<p>
	  <b>De onde:</b>
	  <%= @user.de_onde %>
	</p>
	<p>
	  <b>Nome da TAG no convite:</b>
	  <%= @user.nome_convite %>
	</p>
	<p>
	  <b>Numero do telefone de contato:</b>
	  <%= @user.numero_telefone %>
	</p>
	<p>
	  <b>Convidados:</b><br>
	  <% @user.convidados.each do |convidado| %>
	  	<%= convidado.nome %> <br/>
	  	<%if convidado.confimacao_presenca_cerimonia %><img src="/images/button_ok.png"/><% else %><img src="/images/error.png"/><%end%>Confirmado para Cerimonia <br/>
	  	<%if convidado.confimacao_presenca_festa %><img src="/images/button_ok.png"/><% else %><img src="/images/error.png"/><%end%>Confirmado para Festa<br/>

	  	<%= link_to 'Destroy Convidado', [convidado.user, convidado],
               :method => :delete %>
	  	<br/>
	  <% end %>
	</p>

	 <div class="field">
	    <%= form_for([@user, Convidado.new], :html => {:class=> "comment-form"})  do |conv| %>
	        <%= conv.text_field :nome, :class => "txt name", :placeholder=>"Nome"%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	        <%= conv.submit %>
	      <%end%>
	  </div>
	

	<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
	<%= link_to 'Back', usuarios_path %>
</div>