<div style="padding-left: 30px; width: 900px;"/>
	<p id="notice"><%= notice %></p>
	<p>
	  <b>Nome:</b>
	  <%= @user.nome %>
	</p>
	<p>
	  <b>Email:</b>
	  <%= @user.email %>
	</p>
	<p>
	  <b>de_onde:</b>
	  <%= @user.de_onde %>
	</p>
	<p>
	  <b>nome_convite:</b>
	  <%= @user.nome_convite %>
	</p>
	<p>
	  <b>numero telefone:</b>
	  <%= @user.numero_telefone %>
	</p>
	<p>
	  <b>convidados:</b>
	  <%= @user.convidados %>
	</p>
	<p>
	  <b>Foto:</b>
	  <%= image_tag "http://graph.facebook.com/#{@user.nome}/picture", :size => "70x70"%>
	</p>

	<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
	<%= link_to 'Back', usuarios_path %>
</div>