<% @post.tags.build %>
<%= form_for(@post, :html => {:multipart => true}, :html => {:class=> "comment-form"}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :categorium %><br />
    <%= select_tag :categoria, options_from_collection_for_select(@categorias, :id, :nome) %>
  </div>

  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_area :descricao %>
  </div>
  <div class="field">
    <%= f.label :texto %><br />
    <%= f.text_area :texto %>
  </div>
  <div class="field">
    <%= f.label :autor %><br />
    <%= f.text_field :autor %>
  </div>
  <div class="field">
    <%= f.label :picture1 %><br />
    <%= f.file_field :picture1 %>
  </div>
  <div class="field">
    <%= f.label :picture2 %><br />
    <%= f.file_field :picture2 %>
  </div>
  <div class="field">
    <%= f.label :picture3 %><br />
    <%= f.file_field :picture3 %>
  </div>
  <h2>Tags</h2>
  <%= render :partial => 'tags/form',
             :locals => {:form => f} %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>