<div class="top">
		
	<h2><%= @blog_name %></h2>

</div> <!-- END TOP -->

<div class="clearfix"></div>

<div class="page blog">
		

	<%- if !@posts.empty? %>
		<ul class="blog-second">
			<% @posts.each do |post|%>	
				<li>
					<%= link_to post.titulo,  view_blog_path(post), :class=> "title" %>
					<span class="date"><strong><%=h post.created_at.strftime("%d") %></strong><%=h post.created_at.strftime("%b") %></span>
					<%- if post.picture1.to_s != "/assets" && post.picture1.to_s != ""  %>
						<a href="<%= post.picture1 %>" class="img fancybox"><%= image_tag  "#{post.picture1}", :size => "580x200"  %></a>
					<% end %>
					
					<p><%= post.descricao %></p>
					<%= link_to "Leia mais ¬",  view_blog_path(post), :class=> "readmore" %>
				</li>
			<% end %>

			
		</ul>
	<% else %>
		<p> <span class="cap dark">N</span>enhum item cadastrado</p>
	<% end %>
	
	<%= will_paginate @posts %>
				
</div> <!-- END PAGE -->

<div class="sidebar blog-side">

	<%= render "/categorias/show_categorias" %>

	<%- if !Tag.all.empty? %>
		<div class="tags">
		
			<h3>Tags</h3>
			
			<ul class="tags-list">
				<%= join_posts_tags_li(@posts) %>
			</ul>
		
		</div> <!-- END TAGS -->

		<div class="clearfix"></div>
	<% end %>

	<%= render "/comments/last_comments" %>

	<%= render "/events/gift_call" %>

	<%= render "/videos/videos" %>

</div> <!-- END SIDEBAR -->