<div class="top">
		
	<h2><%= @blog_name %></h2>

</div> <!-- END TOP -->

<div class="clearfix"></div>

<div class="page blog">
			
	<ul class="blog-second">
		<% @posts.each do |post|%>	
			<li>
				<%= link_to post.titulo,  view_blog_path(post), :class=> "title" %>
				<span class="date"><strong><%= post.data.strftime("%d") %></strong><%= post.data.strftime("%b") %></span>
				<a href="<%= post.picture1 %>" class="img fancybox"><%= image_tag  "#{post.picture1}", :size => "580x200"  %></a>
				<p><%= post.descricao %></p>
				<%= link_to "Leia mais ¬",  view_blog_path(post), :class=> "readmore" %>
			</li>
		<% end %>
	</ul>
	
	<a href="#" class="arrow left">&larr; Older posts</a>
				
</div> <!-- END PAGE -->

<div class="sidebar blog-side">

	<div class="catg">
	
		<h3>Categories</h3>
		
		<ul class="catg-list">
			<li><a href="#">Recipies (5)</a></li>
			<li><a href="#">Restaurant (3)</a></li>
			<li><a href="#">Weddings (6)</a></li>
			<li><a href="#">BBQ (2)</a></li>
		</ul>
	
	</div> <!-- END CATEGORIES -->
	
	<div class="clearfix"></div>
	
	<div class="tags">
	
		<h3>Tags</h3>
		
		<ul class="tags-list">
			<%= join_posts_tags_li(@posts) %>
		</ul>
	
	</div> <!-- END TAGS -->
	
	<div class="clearfix"></div>
	
	<div class="comments">
	
		<h3>Latest Comments</h3>
		
		<ul class="comm-list">
			<% @last_coments.each do |comment|%>	
				<li><%= comment.commenter %> <%= link_to comment.body, view_blog_path(comment.post) %></li>
			<% end %>
		</ul>
	
	</div> <!-- END COMMENTS -->
	
	<div class="video">
	
		<h3>Check this out</h3>
		
		<iframe src="http://player.vimeo.com/video/27243869?color=ffffff" width="280" height="150" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	
	</div> <!-- END COMMENTS -->

</div> <!-- END SIDEBAR -->