<div class="top">
		
	<h2><%= @blog_name %></h2>

</div> <!-- END TOP -->

<div class="clearfix"></div>

<div class="page blog">
		<h2><%= @post.titulo%></h2>
			<span class="meta"><italic>escrito</italic> por <a hef="#"><%= @post.autor.nome%></a> em <%= @post.created_at.strftime("%d/%m/%Y") %> <!-- in <a href="#">kitchen</a>,<a href="#">recipies</a>, <a href="#">spaghetti</a> --> </span>
			<%- if @post.picture2 == "/assets" %>
				<a href="/images/slider/slider-image1.jpg" class="img fancybox"><%= image_tag "#{@post.picture2}" %></a>
			<% end %>
			
			<p><%= @post.texto%></p>
		
	<div class="comments">
	
		<%- if !@post.comments.empty? %>
			<h3>Comentários</h3>
			
			<ul class="comment-list">
				<% @post.comments.each do |comment|%>
				<li>
					<a href="#" class="avatar"><%= image_tag "http://graph.facebook.com/#{comment.commenter}/picture", :size => "70x70"%></a>
					<div class="bubble">
						<p><%= comment.body %></p>
					</div>
				</li>
				<% end %>
			</ul>
		<% end %>
		<%- if !@post.tags.empty? %>
			<p>
			  <b>Tags:</b>
			  <%= join_tags(@post) %>
		  	</p>
	  	<% end %>
		
		<h3>Poste um comentário</h3>
		<%- if !user_signed_in? %>

			<table>
				<tr>
					<td><%= link_to( image_tag("/images/fb_login_icon.gif") , "/users/auth/facebook/" ) %></td>
					<td>&nbsp;ou <%= link_to "crie um usuário no nosso site", new_registration_path(resource_name) %> para nos deixar um comentário!</td>
				</tr>
			</table>
			 
		<% end %>
		
		<%- if user_signed_in? %>
			<%= form_for([@post, @post.comments.build], :html => {:class=> "comment-form"})  do |f| %>
				<%= f.text_field :commenter, :value => current_user.nome, :readonly => true,  :class => "txt name", :placeholder=>"Nome"%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    <%= f.text_field :email, :value => current_user.email,:readonly => true, :class => "txt email", :placeholder=>"Endereço de e-mail"%>
			    <%= f.text_area :body, :class => "txt name", :placeholder=>"Mensagem"%>
			    <%= f.submit "Enviar",  :class => "button orange" %>
			<%end%>
		<% end %>
	
	</div>
							
</div> <!-- END PAGE -->

<div class="sidebar blog-side">

	<div class="catg">
	
		<h3>Categories</h3>
		<ul class="catg-list">
			<% Categoria.all.each do |categoria|%>
				<li>  <%= link_to "#{categoria.nome} (#{Post.find_all_by_categoria_id(categoria.id).size()})" , category_blog_path(categoria) %></li>	
			<% end %>
		</ul>
	</div> <!-- END CATEGORIES -->
	
	<div class="clearfix"></div>
	<%- if !@post.tags.empty? %>
		<div class="tags">
		
			<h3>Tags</h3>
			
			<ul class="tags-list">
				<%= join_tags_li(@post) %>
			</ul>
		
		</div> <!-- END TAGS -->
	<% end %>
	
	<div class="clearfix"></div>
	
	<div class="comments">
	
		<h3>Latest Comments</h3>
		
		<ul class="comm-list">
			<% @last_coments.each do |comment|%>	
				<li><%= comment.commenter %> <%= link_to comment.body, view_blog_path(comment.post) %></li>
			<% end %>
		</ul>
	
	</div> <!-- END COMMENTS -->
	
	<div class="video">
	
		<h3>Check this out</3>
		
		<iframe src="http://player.vimeo.com/video/27243869?color=ffffff" width="280" height="150" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	
	</div> <!-- END VIDEO -->

</div> <!-- END SIDEBAR -->