<div class="top">
		
	<h2><%= @blog_name %></h2>

</div> <!-- END TOP -->

<div class="clearfix"></div>

<div class="page blog">
		<h2><%= @post.titulo%></h2>
			<span class="meta"><italic>escrito</italic> por 

			<%= link_to @post.autor.nome, view_autors_path(@post.autor)  %> em <%= @post.created_at.strftime("%d/%m/%Y") %> 
			<!-- in <a href="#">kitchen</a>,<a href="#">recipies</a>, <a href="#">spaghetti</a> --> </span>
			<%- if @post.picture2.to_s != "/assets" && @post.picture2.to_s != "" %>
				<%= image_tag "#{@post.picture2}" %>
			<% end %>
			
			<p><%= @post.texto.html_safe%></p>
		
	<div class="comments">
	
		<%- if !@post.comments.empty? %>
			<h3>Comentários</h3>
			
			<ul class="comment-list">
				<% 
					@contador = 1
					@post.comments.order("created_at DESC").all.each do |comment|
				%>	
				<li>
					<script type="text/javascript">
						jQuery(function($){
							url_face = 'http://graph.facebook.com/<%= comment.commenter %>/picture';

							$.ajax({
							  url: url_face,
							  success: function(data) {
							    $("#imagem_face_<%= @contador.to_s %>").attr("src", url_face);
							  }
							});
						});
					</script>
					<a href="#" class="avatar"><%= image_tag "/images/cao-sorridente.jpg", :id => "imagem_face_" + @contador.to_s , :size => "70x70"%></a>
					<div class="bubble">
						<p><b><%= comment.commenter %> </b>diz:<br/>
							<%= comment.body %></p>
					</div>
				</li>
				<% @contador += 1 %>
				<% end %>
			</ul>
		<% end %>
		<%- if !@post.tags.empty? %>
			<p>
			  <b>Tags:</b>
			  <%= join_tags(@post) %>
		  	</p>
	  	<% end %>
		
		<h3>Poste um comentário</h3>
		<%- if !user_signed_in? %>

			<table>
				<tr>
					<td><%= link_to( image_tag("/images/fb_login_icon.gif") , "/users/auth/facebook/" ) %></td>
					<td>&nbsp;ou <%= link_to "crie um usuário no nosso site", new_registration_path(resource_name) %> para nos deixar um comentário!</td>
				</tr>
			</table>
			 
		<% end %>
		
		<%- if user_signed_in? %>
			<%= form_for([@post, @post.comments.build], :html => {:class=> "comment-form"})  do |f| %>
				<%= f.text_field :commenter, :value => current_user.nome, :readonly => true,  :class => "txt name", :placeholder=>"Nome"%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    <%= f.text_field :email, :value => current_user.email,:readonly => true, :class => "txt email", :placeholder=>"Endereço de e-mail"%>
			    <%= f.text_area :body, :class => "txt name", :placeholder=>"Mensagem"%>
			    <%= f.submit "Enviar",  :class => "button orange" %>
			<%end%>
		<% end %>
	
	</div>
							
</div> <!-- END PAGE -->

<div class="sidebar blog-side">

	<%= render "/categorias/show_categorias" %>

	<div class="clearfix"></div>

	<%- if !@post.tags.empty? %>
		<div class="tags">
		
			<h3>Tags</h3>
			
			<ul class="tags-list">
				<%= join_tags_li(@post) %>
			</ul>
		
		</div> <!-- END TAGS -->
		<div class="clearfix"></div>
	<% end %>
	
	<%= render "/comments/last_comments" %>

	<%= render "/events/gift_call" %>
	
	<%= render "/videos/videos" %>

</div> <!-- END SIDEBAR -->