<!DOCTYPE html>

<html lang="pt">
<head>
       <meta charset="utf-8"/>
       <title><%= content_for?(:title) ? yield(:title) : "Kleber e Talita" %></title>
       <%= render "/include/head" %>
        <%= csrf_meta_tag %>
       <%= yield(:head) %>
</head>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35132047-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<body>

	<div class="main">
		<%= render "/include/header" %>
		
			<% flash.each do |name, msg| %>
				<div class="full shortcodes">
					<%= content_tag :span, msg, :class => "box green", :id => "flash_#{name}" %>
				</div>
			<% end %>
		
		<%= content_tag :h1, yield(:title) if show_title? %>
		
		<%= yield %>
		
		<div class="clearfix"></div>
		
		<%= render "/include/newsletter" %>
	</div> 
	
	<footer class="footer">
		<%= render "/include/footer" %>
	</footer>
</body>
</html>